<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="css/main-site.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="manifest" href="icons/site.webmanifest" />
    <title>The Wolf Pack</title>
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      #credits-to-give {
        margin-left: 10px;
      }
      #add-credit-button {
        margin-left: 10px;
      }
      @media only screen and (max-width: 750px) {
        #credits-to-give {
          margin-left: 0px;
        }
        #add-credit-button {
          margin-left: 0px;
        }
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <div class="logo_name">The Wolf Pack</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/home#">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="/home#discord">
            <i class="bx bxl-discord"></i>
            <span class="links_name">Discord</span>
          </a>
          <span class="tooltip">Discord</span>
        </li>
        <li>
          <a href="/home#info">
            <i class="bx bxs-info-circle"></i>
            <span class="links_name">Server Info</span>
          </a>
          <span class="tooltip">Info</span>
        </li>
        <li>
          <a href="/home#donate">
            <i class="bx bxs-dollar-circle"></i>
            <span class="links_name">Donate</span>
          </a>
          <span class="tooltip">Donate</span>
        </li>
        <li>
          <a href="/store">
            <i class="bx bx-store"></i>
            <span class="links_name">Store</span>
          </a>
          <span class="tooltip">Store</span>
        </li>
        <li>
          <a href="/user">
            <i class="bx bx-cog"></i>
            <span class="links_name">Settings</span>
          </a>
          <span class="tooltip">Settings</span>
        </li>
        <% if (id == "195589455430680576" || id == "545044271389212672" || id ==
        "261717655180804097") { %>
        <li>
          <a href="/admin">
            <i class="bx bx-lock"></i>
            <span class="links_name">Admin</span>
          </a>
          <span class="tooltip">Admin</span>
        </li>
        <% } %>
        <li class="profile">
          <div class="profile-details">
            <div class="name_job">
              <%- avatar %>
              <div class="name">The Wolf Pack</div>
              <div class="job">DayZ Server</div>
            </div>
          </div>
          <a href="/logout">
            <i class="bx bx-log-out" id="log_out"></i>
          </a>
        </li>
      </ul>
    </div>
    <section id="store" class="base-section">
      <div class="display-right">
        <i class="bx bx-menu" id="modal-menu-open"></i>
      </div>
      <h1>Admin Control Panel</h1>
      <br />
      <div class="admin-wrapper">
        <p class="post" id="posted">Post Successful</p>
        <input
          class="admin-textbox"
          name="title"
          id="title"
          type="text"
          placeholder="Title..."
        />
        <textarea
          class="admin-textarea"
          name="description"
          id="description"
          cols="30"
          rows="10"
          placeholder="Description..."
        ></textarea>
        <select name="channels" id="channel" class="admin-select">
          <% for (let channel of channels) { %>
          <option value="<%= channel.id %>">#<%= channel.name %></option>
          <% } %>
        </select>
        <div class="display-flex">
          <input
            type="color"
            name="colorpicker"
            id="colorpicker"
            class="admin-color"
          />
          <label for="everyone" class="admin-label">@everyone</label>
          <input
            type="checkbox"
            name="everyone"
            id="everyone"
            class="admin-checkbox"
          />
        </div>
        <button class="admin-button" onclick="postEmbed()">Post</button>
      </div>
      <br />
      <div>
        <h1>Award Credits</h1>
        <div class="admin-user-wrapper">
          <select name="users" id="users" class="admin-select">
            <% for (let discord_user of discord_users) { %>
            <option value="<%= discord_user.discordId %>">
              <%= discord_user.user %>
            </option>
            <% } %>
          </select>
          <input
            type="text"
            id="credits-to-give"
            class="admin-textbox"
            placeholder="Credit Amount..."
          />
          <button
            id="add-credit-button"
            class="admin-button"
            onclick="addCredits()"
          >
            Add Credits
          </button>
        </div>
      </div>
      <br />
      <div>
        <h1>Store Users</h1>
        <% for (let discord_user of discord_users) { %>
        <div class="admin-user-wrapper">
          <p><%= discord_user.user %></p>
          <p>
            Credits:
            <span style="color: gold"><%= discord_user.credits %></span>
          </p>
        </div>
        <% } %>
      </div>
      <div class="nav-modal" id="nav-modal-full">
        <div class="display-flex">
          <h1>The Wolf Pack</h1>
          <i class="bx bx-x" id="modal-menu-close"></i>
        </div>
        <br />
        <div class="nav-content">
          <ul class="nav-list">
            <li><a href="/home#">Home</a></li>
            <li><a href="/home#discord">Discord</a></li>
            <li><a href="/home#info">Server Info</a></li>
            <li><a href="/home#donate">Donate</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/user">Settings</a></li>
            <% if (id == "195589455430680576" || id == "545044271389212672" ||
            id == "261717655180804097") { %>
            <li><a href="/admin">Admin Panel</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </section>
    <script src="js/post.js"></script>
  </body>
</html>
