<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="css/main-site.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="manifest" href="icons/site.webmanifest" />
    <title>The Wolf Pack</title>
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @media only screen and (max-width: 1500px) {
        .grid4 {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      @media only screen and (max-width: 1000px) {
        .grid4 {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media only screen and (max-width: 800px) {
        .grid4 {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    </style>
    <script>
      let accountCredits = `<%= credits %>`;
      let steam = `<%= steamId %>`;
    </script>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <div class="logo_name">The Wolf Pack</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/home#">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="/home#discord">
            <i class="bx bxl-discord"></i>
            <span class="links_name">Discord</span>
          </a>
          <span class="tooltip">Discord</span>
        </li>
        <li>
          <a href="/home#info">
            <i class="bx bxs-info-circle"></i>
            <span class="links_name">Server Info</span>
          </a>
          <span class="tooltip">Info</span>
        </li>
        <li>
          <a href="/home#donate">
            <i class="bx bxs-dollar-circle"></i>
            <span class="links_name">Donate</span>
          </a>
          <span class="tooltip">Donate</span>
        </li>
        <li>
          <a href="/store">
            <i class="bx bx-store"></i>
            <span class="links_name">Store</span>
          </a>
          <span class="tooltip">Store</span>
        </li>
        <li>
          <a href="/user">
            <i class="bx bx-cog"></i>
            <span class="links_name">Settings</span>
          </a>
          <span class="tooltip">Settings</span>
        </li>
        <% if (id == "195589455430680576" || id == "545044271389212672" || id ==
        "261717655180804097") { %>
        <li>
          <a href="/admin">
            <i class="bx bx-lock"></i>
            <span class="links_name">Admin</span>
          </a>
          <span class="tooltip">Admin</span>
        </li>
        <% } %>
        <li class="profile">
          <div class="profile-details">
            <div class="name_job">
              <%- avatar %>
              <div class="name">The Wolf Pack</div>
              <div class="job">DayZ Server</div>
            </div>
          </div>
          <a href="/logout">
            <i class="bx bx-log-out" id="log_out"></i>
          </a>
        </li>
      </ul>
    </div>
    <section id="store" class="store-section">
      <div class="display-flex mobile-header">
        <h1>The Wolf Pack</h1>
        <i class="bx bx-menu" id="modal-menu-open"></i>
      </div>
      <br />
      <div class="display-flex">
        <h1>Store</h1>
        <h1>Credits: <span style="color: gold"><%= credits %></span></h1>
      </div>
      <input
        id="store-search"
        type="text"
        class="store-input"
        placeholder="Search..."
      />
      <br />
      <div class="grid4">
        <% for(let item of items) { %>
        <div id="<%= item.name %>" class="store-item">
          <div class="display-flex">
            <h3><%= item.name %></h3>
            <button
              onclick="openBuyModal('<%= item.class %>', '<%= item.name %>', '<%= item.price %>', '<%= credits %>')"
              class="store-button"
            >
              Buy
            </button>
          </div>
          <div class="display-flex">
            <h3 id="creds">
              Credits:
              <span style="color: gold"><%= item.price %></span>
            </h3>
            <div>
              <h3>Spawns 1</h3>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div id="buy-modal-full" class="buy-modal">
        <div class="buy-content">
          <p id="buy-title">Are you sure you want to purchase this?</p>
          <button class="buy-button" id="buy-object" onclick="buyItem()">
            Buy
          </button>
          <button class="buy-button" id="cancel-buy" onclick="closeBuyModal()">
            Cancel
          </button>
          <button class="buy-button" id="add-steam" onclick="goToUser()">
            Add Steam ID
          </button>
          <button class="buy-button" id="continue" onclick="closeBuyModal()">
            Continue
          </button>
        </div>
      </div>
      <div class="nav-modal" id="nav-modal-full">
        <div class="display-flex">
          <h1>The Wolf Pack</h1>
          <i class="bx bx-x" id="modal-menu-close"></i>
        </div>
        <br />
        <div class="nav-content">
          <ul class="nav-list">
            <li><a href="/home#">Home</a></li>
            <li><a href="/home#discord">Discord</a></li>
            <li><a href="/home#info">Server Info</a></li>
            <li><a href="/home#donate">Donate</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/user">Settings</a></li>
            <% if (id == "195589455430680576" || id == "545044271389212672" ||
            id == "261717655180804097") { %>
            <li><a href="/admin">Admin Panel</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </section>
    <script src="js/store.js"></script>
  </body>
</html>
